.banner{
    .banner__items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-weight: 700;
            font-size: 5.125rem;
            line-height: 6rem;
            text-align: center;
            color: #FFFFFF;
            margin-top: 5.625rem;
        }
        p{
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
            max-width: 36.4375rem;
            margin: 0 auto;
            margin-top: 25px;
        }
        .form-banner{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 42px;
            .banner-input{
                position: relative;
                input{
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    color: #FFFFFF;
                    background: rgba(255, 255, 255, 0.2);
                    border: 1px solid #FFFFFF;
                    backdrop-filter: blur(10px);
                    border-radius: 50px;
                    padding: 25px 30px;
                    width: 464px;
                }
                .fa-magnifying-glass{
                    color: #FFFFFF;
                    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
                    padding: 15px;
                    border-radius: 20px;
                    top: 15px;
                    left: 405px;
                    position: absolute;
                }
            }
        }
    }
}