@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Bold.ttf");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  background: none;
  outline: none;
  list-style: none;
  font-size: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

.wrapper {
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

.banner-bg {
  background: url(../img/banner-bg.png) no-repeat;
  background-size: cover;
  min-height: 1410px;
  position: relative;
}

.point-product {
  position: absolute;
  bottom: 786px;
  left: 134px;
}

.point-product2 {
  position: absolute;
  bottom: 532px;
  left: 228px;
}

.hover-product {
  position: absolute;
  bottom: 535px;
  right: 75px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 66px;
}
.header .nav {
  display: flex;
  align-items: center;
  gap: 68px;
}
.header .nav a {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  color: #FFFFFF;
  transition: 0.6s all;
}
.header .nav a:hover {
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.footer {
  background: linear-gradient(93.99deg, #566270 0.51%, #283444 100%);
}
.footer .footer__items {
  padding-bottom: 120px;
}
.footer .footer__items .footer-end {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 52px;
}
.footer .footer__items .line {
  border-top: 1px solid #FFFFFF;
  margin-top: 52px;
}
.footer .footer__items .footer-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 120px;
}
.footer .footer__items .footer-arrow .footer-form h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}
.footer .footer__items .footer-arrow .footer-form .footer-input {
  position: relative;
  margin-top: 25px;
}
.footer .footer__items .footer-arrow .footer-form .footer-input input {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  padding: 25px 30px;
  width: 464px;
}
.footer .footer__items .footer-arrow .footer-form .footer-input button {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  border-radius: 50px;
  padding: 12px 24px;
  position: absolute;
  top: 15px;
  left: 314px;
}
.footer .footer__items .footer-arrow .tabs {
  display: flex;
  align-items: start;
  gap: 88px;
}
.footer .footer__items .footer-arrow .tabs .link__tabs-activa {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 33px;
}
.footer .footer__items .footer-arrow .tabs .link__tabs {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 16px;
}

.banner .banner__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .banner__items h2 {
  font-weight: 700;
  font-size: 5.125rem;
  line-height: 6rem;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5.625rem;
}
.banner .banner__items p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  max-width: 36.4375rem;
  margin: 0 auto;
  margin-top: 25px;
}
.banner .banner__items .form-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
}
.banner .banner__items .form-banner .banner-input {
  position: relative;
}
.banner .banner__items .form-banner .banner-input input {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  padding: 25px 30px;
  width: 464px;
}
.banner .banner__items .form-banner .banner-input .fa-magnifying-glass {
  color: #FFFFFF;
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  padding: 15px;
  border-radius: 20px;
  top: 15px;
  left: 405px;
  position: absolute;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.about .card {
  display: flex;
  align-items: center;
  gap: 30px;
}
.about .card .card-first h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.375rem;
  color: #081323;
  margin-bottom: 15px;
}
.about .card .card-first p {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #828282;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 250px;
}
.price .content h2 {
  font-weight: 500;
  font-size: 4rem;
  line-height: 4.6875rem;
  color: #081323;
  max-width: 360px;
  margin-bottom: 42px;
}
.price .content .content-arrow {
  display: flex;
  align-items: center;
  gap: 20px;
}
.price .content .content-arrow p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
}
.price .cards {
  display: flex;
  align-items: center;
  gap: 32px;
}
.price .cards .card-section {
  background: #C1D0E4;
  border-radius: 50px;
  max-height: 510px;
  max-width: 330px;
}
.price .cards .card-section .plants-card {
  margin-top: -120px;
  margin-bottom: 20px;
  max-width: 325px;
  width: 100%;
}
.price .cards .card-section .card-section-content {
  background: #FFFFFF;
  border-radius: 50px;
  padding: 28px 38px;
}
.price .cards .card-section .card-section-content h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.375rem;
  text-align: left;
  color: #081323;
  margin-bottom: 0.5rem;
}
.price .cards .card-section .card-section-content .fa-star {
  color: yellow;
}
.price .cards .card-section .card-section-content .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
}
.price .cards .card-section .card-section-content .btn span {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.375rem;
  color: #081323;
}
.price .cards .card-section .card-section-content .btn img {
  width: 3.625rem;
  height: 3.625rem;
}

.gallery {
  margin-top: 182px;
}
.gallery h2 {
  font-weight: 500;
  font-size: 4rem;
  line-height: 4.6875rem;
  color: #081323;
  margin-bottom: 27px;
  text-align: center;
}
.gallery p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
  text-align: center;
}
.gallery .gallery-img {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 92px;
}
.gallery .gallery-img .gallery-img-first {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.advantage {
  margin-top: 182px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 210px;
}
.advantage .advantage-content h2 {
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: #081323;
  max-width: 450px;
}
.advantage .advantage-content p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
  margin-top: 28px;
}
.advantage .advantage-content .advantage-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 82px;
}
.advantage .advantage-content .advantage-info .advan-info-first {
  display: flex;
  align-items: center;
  gap: 25px;
}
.advantage .advantage-content .advantage-info .advan-info-first .advan-content h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 8px;
}
.advantage .advantage-content .advantage-info .advan-info-first .advan-content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #4F4F4F;
  max-width: 490px;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
